{{/*

This partial displays the date and tags of each post.  It is used in list
pages and on the single page for each post.

Originally from
https://zwbetz.com/make-a-hugo-blog-from-scratch/#date-and-tags-partial

*/}}
{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "2006-01-02" }}
{{ if .PublishDate }}
<time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
{{ end }}
<div>
  {{ if .Params.tags }}
  <strong>Tags:</strong>
  {{range .Params.tags}}
  <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
    {{ . }}
  </a>
  {{end}}
  {{end}}
</div>
<div>
  {{ if .Params.categories }}
  <strong>Categories:</strong>
  {{range .Params.categories}}
  <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">
    {{ . }}
  </a>
  {{end}}
  {{end}}
</div>
