<head>
  <meta charset="utf-8">
  <style>
    {{- /* Style the <aside> tag so it displays on the right. This is used by the
           navigation bar in the layouts/partials/nav.html template. See
           https://www.w3schools.com/tags/tag_aside.asp and
           https://developer.mozilla.org/en-US/docs/Web/HTML/Element/aside
       */ -}}
    aside {
        width: 30%;
        padding-left: .5rem;
        margin-left: .5rem;
        float: right;
    }
  </style>
  <!--
      Tailwind makes the site super ugly because it strips all default styling!

      <script src="https://cdn.tailwindcss.com"></script>
      -->
  <title>
    {{ if eq .Title .Site.Title }}
    {{ .Title }}
    {{ else }}
    {{ .Title }} | {{ .Site.Title }}
    {{ end }}
   </title>
</head>
