<!--

 nav.html

This file is included as a partial from layouts/partials/baseof.html as the
first thing after the <body> tag. It expands to a navigation bar.

See https://gohugo.io/templates/menu-templates/

TODO: look using this instead:
https://gohugo.io/templates/menu-templates/#section-menu-for-lazy-bloggers

That is all.
-->
<aside>
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
    <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
      <a href="#">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
    </li>
    <ul class="sub-menu">
      {{ range .Children }}
      <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    {{ else }}
    <li>
      <a href="{{ .URL }}">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</aside>
