<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <!-- Code that all your templates share, like a header, goes here. -->
    {{ partial "nav.html" . }}
    {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates
         goes here and is defined in each template. -->
    {{ end }}
    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in
         each template -->
    {{ end }}
  </body>
</html>
