{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}
{{ range .Pages }}
<div>
  <div>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ partial "date-and-tags.html" . }}
  </div>
  <p>{{.Summary}}</p>
</div>
{{ end }}

<!-- <p>This page is last in the priority list for:</p> -->
<!-- <ol> -->
  <!--   <li>Home page.</li> -->
  <!--   <li>Home page with type set.</li> -->
  <!--   <li>Home page with layout set.</li> -->
  <!--   <li>AMP home.</li> -->
  <!--   <li>Section list for "posts" section.</li> -->
  <!--   <li>Section list for "posts" section with type set to "blog".</li> -->
  <!--   <li>Section list for "posts" section with layout set to "demoLayout"</li> -->
  <!-- </ol> -->
<!-- <code>DEBUG .Kind: {{ printf "%#v" .Kind }}</code><br> -->
<!-- <code>DEBUG .Type: {{ printf "%#v" .Type }}</code><br> -->
<!-- <code>DEBUG .Title: {{ printf "%#v" .Title }}</code><br> -->
<!-- <code>DEBUG .Content: {{ printf "%#v" .Content }}</code><br> -->
<!-- <code>DEBUG .Date: {{ printf "%#v" .Date }}</code><br> -->
<!-- <code>DEBUG .Description: {{ printf "%#v" .Description }}</code><br> -->
<!-- <code>DEBUG .Draft: {{ printf "%#v" .Draft }}</code><br> -->
<!-- <code>DEBUG .ExpiryDate: {{ printf "%#v" .ExpiryDate }}</code><br> -->
<!-- <code>DEBUG .IsHome: {{ printf "%#v" .IsHome }}</code><br> -->
<!-- <code>DEBUG .IsPage: {{ printf "%#v" .IsPage }}</code><br> -->
<!-- <code>DEBUG .IsSection: {{ printf "%#v" .IsSection }}</code><br> -->
<!-- <code>DEBUG .Keywords: {{ printf "%#v" .Keywords }}</code><br> -->
<!-- <code>DEBUG .Params: {{ printf "%#v" .Params }}</code><br> -->
<!-- <code>DEBUG .FuzzyWordCount: {{ printf "%#v" .FuzzyWordCount }}</code><br> -->
<!-- <code>DEBUG .WordCount: {{ printf "%#v" .WordCount }}</code><br> -->
{{ end }}
