{{ define "main" }}
<section>
  <h1>{{ .Title }}</h1>
  <div>
    <article>
      {{ .Content }}
    </article>
  </div>
</section>
<aside>
  {{ partial "date-and-tags.html" . }}
  <div>
    {{ with .PrevInSection }}
    <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
    {{ end }}
    {{ with .NextInSection }}
    <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
    {{ end }}
  </div>
</aside>
{{ end }}
