{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ range .Data.Terms.Alphabetical }}
<p>
  <a href="{{ .Page.Permalink }}">
    <span>{{ .Count }}</span>
    {{ .Page.Title }}
  </a>
</p>
{{ end }}
{{ end }}
